name: Build Mac Executable

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller pandas openpyxl selenium setuptools

    - name: Build with PyInstaller
      run: |
        # --name "naver_1.0"으로 설정해서 실제 실행 파일 이름을 바꿨어!
        pyinstaller --onefile --windowed --collect-all tkinter --name "naver_1.0" naver_1.0.py

    - name: Upload Result
      uses: actions/upload-artifact@v4
      with:
        # 다운로드받을 zip 파일 이름을 naver_1.0-Mac으로 설정했어!
        name: naver_1.0-Mac
        # 위에서 만든 실행 파일의 경로야 (이건 건드리면 안 돼)
        path: dist/naver_1.0
